/* Definindo fontes personalizadas */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MONTSERRAT-BOLD.TTF') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MONTSERRAT-REGULAR.TTF') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/MONTSERRAT-SEMIBOLD.TTF') format('truetype');
    font-weight: 600;
}

/* Connect Box */
.connect-box {
    background: #32343a;
    padding: 40px 20px;
    color: #ffffff;
}

.connect-content {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.connect-left {
    flex: 1;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Centraliza a imagem verticalmente */
    text-align: center; /* Centraliza o texto (se houver) */
}

.connect-right {
    flex: 1;
    text-align: left;
    
}

.connect-image {
    max-width: 200px;
    margin: 0px 50px;
    height: auto;
}

.connect-text {
    margin: 0px 50px;
    font-family: 'Montserrat';
    padding: auto;
    font-size: 16px;
}

.connect-text a {
    font-size: 16px;
    color: #8529ff;
    text-decoration: none;
    line-height: 0.5; /* Ajuste este valor conforme necessário */
}

.connect-text-highlight {
    font-size: 18px;
    font-size: Bold;

}

.spaced-link {
    font-family: 'Montserrat';
    margin-top: 20px; /* Ajuste este valor conforme necessário */
    display: inline-block; /* Necessário para aplicar a margem superior */
}